<template>
  <div class="number-chart" ref="container">
    <h1 class="number-value">{{number}}</h1>
    <p class="number-title" v-if="title">{{title}}</p>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    number: {
      type: String,
      required: true,
    },
  },
};
</script>
<style lang="scss">
.number-value {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}
.number-title {
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  color: #CCC;
}
</style>
